@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* GENERAL SETTINGS */

:root {
  --aside-bg-color: #051e34;
  --navbar-bg-color: #ffffff;
  --text-color: #6e777f;
  --header-bg-color: #1b72e8;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
strong,
span,
p,
i,
h1,
h2,
h3,
h4,
li {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--text-color, gray);
}

img {
  max-width: 100%;
}

.icon-wrapper {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-darkblue {
  background-color: #165bba;
}

/* NAVBAR */

nav {
  padding: 15px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}

.mobile-logo {
  width: 50px;
}

nav input {
  background-color: #e5e5e5;
  border: 0px;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 32px;
}

nav input::placeholder {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
}

.input-container {
  position: relative;
  flex-grow: 1;
  margin: 0px 20px;
}

.input-container::before {
  position: absolute;
  content: "\f002";
  display: table;
  font-family: "Font Awesome 5 Free";
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 15px;
}

.doorbell {
  color: #ff8f00;
}

/* ASIDE */

aside {
  background-color: var(--aside-bg-color);
  background-image: url("../img/sidebar-bg.png");
  width: 70px;
  padding: 20px 0px;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
}

.aside-text {
  color: white;
}

.aside-icon {
  color: white;
  font-size: 18px;
}

.aside-bar-container {
  padding: 6px;
  transform: translateX(-3.5px);
}

.aside-bar-container:hover {
  background-color: rgba(180, 180, 180, 0.61);
  border-radius: 3px;
  cursor: pointer;
}

.no-border {
  border-radius: 0;
}

.pointer {
  cursor: pointer;
}

/* MAIN */

main {
  height: 100%;
  margin-left: 70px;
}

main header {
  background-color: var(--header-bg-color);
  width: 100%;
  color: white;
  padding: 20px 0px;
}

main td img {
  width: 30px;
}

main header span,
main header h2,
main header strong,
main header i {
  color: white;
}

.offcanvas {
  width: 100% !important;
}

.w-th {
  width: 50%;
}

/* MEDIA */

@media (min-width: 768px) {
  .offcanvas {
    width: 80% !important;
  }
}

@media (min-width: 992px) {
  aside {
    height: calc(100% - 70px);
    width: 135px;
  }
  main {
    margin-left: 135px;
  }
  .offcanvas {
    width: 60% !important;
  }
}

@media (min-width: 1200px) {
  .offcanvas {
    width: 40% !important;
  }
}

@media (min-width: 1400px) {
}
